html {
  background-color: ##c9b5ab;
  font-family: 'PT Sans' , sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  color: #3f1622
  font-size: 1.5rem

}

nav {
  color: #8f2440
  font-size: 1.125rem
}

body {
  color: #222
  font-size: 0.8rem
}
